@tailwind base;

@tailwind components;

@tailwind utilities;


body{  
  background-image: url('../bg/background.png');
  background-repeat: no-repeat;
}

.bounce-enter-active {
    animation: bounce-in .7s;
  }
  .bounce-leave-active {
    animation: bounce-in .7s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.20);
    }
    100% {
      transform: scale(1);
    }
  }

  #dowmArrow {
    float: right;
    padding-top:25px;
    margin-left: 42px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  #upArrow {
    float: right;
    margin-right: 5px;
    cursor: pointer;
  }

  .shadow{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 2px rgba(0, 0, 0, 0.06);
  }