<template>
  <div>
    <div class="bg-white shadow overflow-hidden sm:rounded-sm pl-sm">
      <div class="px-4 py-5 border-b border-gray-200 sm:px-6 text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900">{{title}}</h3>
      </div>
    </div>
    <div class="bg-gray-100 border-gray-250 shadow">
      <dl class="p-5">
        <transition-group name="bounce" tag="p">
          <div
            v-for="(action, index) in timeTravelList"
            :key="index"
            class="bg-white px-3 py-3 sm:grid sm:grid-cols-2 sm:gap-3 sm:px-6 border-b border-gray-350 shadow"
            id="action"
          >
            <dd
              class="text-sm leading-4 font-medium text-gray-900 text-left"
            >Moved post {{action.id}} from index {{action.old_index}} to index {{action.new_index}}</dd>
            <dd class="mt-1 text-xs leading-4 text-gray-900 sm:mt-0 sm:col-span-1 text-right">
              <button
                :class="'button'+index"
                @click="actionRevert(index)"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-2 rounded"
              >Time Travel</button>
            </dd>
          </div>
        </transition-group>
      </dl>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ActionList',
  props: {
    timeTravelList: Array,
    title: String
  },

  methods: {
    actionRevert (index) {
      this.$emit('actionRevert', index)
    }
  }
}
</script>
