<template>
  <div>
    <div class="overflow-hidden">
      <div class="px-4 py-5 sm:px-6 text-left">
        <h3 class="text-2xl leading-6 font-medium text-white ">{{title}}</h3>
      </div>
    </div>
    <div
      class="bg-white shadow overflow-hidden sm:rounded-md p-4 mb-4"
      v-for="(post, index) in posts"
      :key="post.id"
      id="posts"
    >
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 md:w-5/6 lg:w-5/6 xl:w-5/6 text-left">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Post {{ post.id }}</h3>
          <p>{{post.title}}</p>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/6 lg:w-1/62 xl:w-1/6">
          <a @click="moveUp(index, post.id)" :class="'moveUp'+index" v-if="index > 0" id="upArrow">
            <img :src="upImage" width="20px">
          </a>
          <a
            @click="moveDown(index, post.id)"
            :class="'moveDown'+index"
            v-if="index < (limit-1)"
            id="dowmArrow"
          >
            <img :src="downImage" width="20px">
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PostList',
  props: {
    posts: Array,
    limit: Number,
    title: String
  },
  components: {},
  data: () => ({
    upImage: require('@/assets/icon/up.svg'),
    downImage: require('@/assets/icon/down.svg')
  }),

  methods: {
    moveUp (index, id) {
      this.$emit('moveUp', { index: index, id: id })
    },

    moveDown (index, id) {
      this.$emit('moveDown', { index: index, id: id })
    }
  }
}
</script>
