<template>
  <div id="app">
    <div class="flex flex-wrap">
      <div class="w-full sm:w-1 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4">
        <div class="lg:m-10">
          <PostList
            :posts.sync="posts"
            :limit="limit"
            :title="'Sortable Post List'"
            @moveUp="moveUp($event)"
            @moveDown="moveDown($event)"
          />
        </div>
      </div>
      <div class="w-full sm:w-1 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4">
        <div class="lg:m-10">
          <ActionList
            :timeTravelList.sync="timeTravelList"
            :title="'List of action committed'"
            @actionRevert="actionRevert($event)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PostList from './components/PostList.vue'
import ActionList from './components/ActionList.vue'
import { PostsService } from '@/services/posts.service.js'

export default {
  name: 'App',
  components: {
    PostList,
    ActionList
  },
  data: () => ({
    timeTravelList: [],
    revertAction: [],
    posts: [],
    limit: 5
  }),

  created () {
    this.getAllPostList()
  },

  methods: {
    actionRevert (index) {
      this.revertAction = this.timeTravelList[index]
      this.timeTravelList.splice(index, 1)
      this.swap(this.revertAction.new_index, this.revertAction.old_index, null)
    },

    getAllPostList () {
      this.posts = []
      PostsService.list()
        .then(response => {
          if (response) {
            this.posts = response.data.slice(0, this.limit)
          }
        })
        .catch(error => {
          throw error
        })
    },

    moveUp (value) {
      this.swap(value.index, value.index - 1, value.id)
    },

    moveDown (value) {
      this.swap(value.index, value.index + 1, value.id)
    },

    swap (oldIndex, newIndex, id) {
      const tempIndex = this.posts[newIndex]
      this.posts[newIndex] = this.posts[oldIndex]
      this.posts[oldIndex] = tempIndex
      this.posts.sort()

      if (id !== null) {
        this.timeTravelList.unshift({
          id: id,
          old_index: oldIndex,
          new_index: newIndex
        })
      }
    }
  }
}
</script>
